%pse {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 230px;
    height: 100%;
    transform: scale(1.5);
}

.leaf {
    position: relative;
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;

    &::before {
        @extend %pse;
        left: 3%;
        background-image: url(../images/leaves.svg);
    }

    &::after {
        @extend %pse;
        right: 4%;
        bottom: -8px;
        background-image: url(../images/leaves-left.svg);
    }
}

.diplom {
    &__title {
        font-family: $text-font;
        font-size: 30px;
        line-height: 38px;
        text-align: center;
        font-weight: bold;
    }

    &__h2 {
        font-size: 30px;
    }

    &__main {
        padding: 20px 12%;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__context {
        padding-right: 40px;
    }

    &__right {
        width: 276px;

    }

    &__img {
        background-image: url(../images/Diplom.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 197px;
        position: relative;
        cursor: pointer;
        transition: all .2s ease-in;

        &:hover .diplom__scale {
            transform: scale(1);
        }
    }

    &__scale {
        position: absolute;
        top: 40%;
        left: 40%;
        transition: all .3s ease-in;
        transform: scale(0.01);
        color: grey;
    }

    &__name {
        position: absolute;
        top: 55%;
        left: 42%;
        color: #D90000;
        font-size: 10px;
    }

    &__download {
        @extend %red-btn;
    }

    &__h3 {
        font-size: 22px;
        padding-bottom: 30px;
    }

    &__text {
        font-size: 17px;
        line-height: 26px;
        padding-bottom: 30px;

        &:last-of-type {
            padding-bottom: 0;
        }
    }

    &__quote {
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        padding: 20px 55px;
        background: rgba(242, 214, 116, 0.58);
        margin-bottom: 30px;
    }

    &__slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
}

.leaf-border {
    width: 67%;
    height: 1px;
    margin: 0 auto;
    padding-bottom: 13px;
    @extend %bordered;
    border-radius: 10px;
}

.hide {
    display: none;
}

.slider {
    padding: 50px 10px 0 10px;
    cursor: pointer;
    position: relative;

    &__img {
        width: 234px;
    }

    &:hover .diplom__scale {
        transform: scale(1);
    }
}

.yellow {
    color: $main-color;
}

.banner {
    padding: 20px 70px;
    font-size: 30px;
    color: $red-color;
    border: 11px solid #DBAB00;
    margin: 30px 12%;
    text-align: center;
    font-weight: bold;
    font-family: $text-font;
    line-height: normal;
    transition: all .3s;

    &:hover {
        animation: pulse .5s;
    }
}

.scaled {
    transform: scale(2.5);
    transform-origin: right;
}

.mySlides {
    display: none;

    img {
        width: 100%;
    }
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 70%;
    position: relative;
    margin: auto;
}

.showSlide {
    display: block;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@media only screen and (max-width: 900px) {
    .diplom {
        &__title {
            font-size: 24px;
        }

        &__main {
            padding: 20px 5%;
        }
    }
}


@media only screen and (max-width: 768px) {
    .diplom__text {
        font-size: 12px;
        line-height: 18px;
    }

    .leaf {
        &::before {
            left: 10px;
            bottom: -20%;
        }

        &::after {
            right: 10px;
            bottom: -33px;
        }
    }

    %pse {
        transform: scale(1);
    }

    .scaled {
        transform: scale(2);
    }
}


@media only screen and (max-width: 700px) {
    .leaf {
        padding: 20px 100px;

        &::before {
            bottom: -30%;
        }

        &::after {
            bottom: -27%;
        }
    }

    .leaf-border {
        width: 70%;
        border-bottom: 6px solid $main-color;
    }

}

@media only screen and (max-width: 620px) {
    .diplom {
        &__main {
            flex-wrap: wrap;
        }

        &__context {
            padding-left: 40px;
        }

        &__right {
            margin: 0 auto;
            padding-top: 20px;
        }
    }

    .leaf {
        &::before {
            bottom: -39.5%;
        }

        &::after {
            bottom: -37%;
        }
    }

    .banner {
        font-size: 24px;
        padding: 10px;
    }

    .scaled {
        transform: scale(1.5);
        transform-origin: center;
    }
}

@media only screen and (max-width: 505px) {
    .diplom {
        overflow: hidden;

        &__h3 {
            font-size: 14px;
        }

        &__text {
            font-size: 12px;
        }

        &__quote {
            font-size: 12px;
            margin: 0 -30px 30px -30px;
        }

        &__context {
            padding: 0;
        }
    }

    .leaf {

        padding: 20px 50px;

        &::before {
            bottom: -45%;
        }

        &::after {
            bottom: -42.5%;
        }
    }

    .leaf-border {
        width: 40%;
        padding-bottom: 41px;
    }

    .banner {
        margin: 20px 0;
    }
}

@media only screen and (max-width: 405px) {
    .diplom {

        &__subtitle {
            font-size: 18px;

            .red {
                font-size: 24px;
                font-weight: bold;
            }
        }

        %pse {
            transform: scale(0.8);
        }
    }

    .leaf {
        padding: 20px;

        &::before {
            bottom: -45%;
            left: -30px;
        }

        &::after {
            bottom: -42.5%;
            right: -30px;
        }
    }

    .leaf-border {

        border-radius: 0;
    }

    .scaled {
        transform: scale(1);

    }
}